<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCQQ1-5AaIMcO1yVyGBaJWU5NuLanXPnvY</string>
	<key>GCM_SENDER_ID</key>
	<string>734892396568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pavcon.vistveicul</string>
	<key>PROJECT_ID</key>
	<string>pavcon-vistoria</string>
	<key>STORAGE_BUCKET</key>
	<string>pavcon-vistoria.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734892396568:ios:21e5501e74ae9ad9c4b36d</string>
</dict>
</plist>